@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: seagreen;
    
    min-height: 100vh;
}

.wrapper {
    background-color: purple;
    color: #fff;
    width: 420px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login-title {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget #inp-remember-me {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget .forget-password-link {
    text-decoration: none;
    color: #fff;
}

.remember-forget .forget-password-link:hover {
    text-decoration: underline;
}

#btn-login {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
}

.wrapper .register-link {
    text-align: center;
    font-size: 14.5px;
    margin-top: 20px;
}

.register-link p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* codes for register.html */

.wrapper .register-title {
    font-size: 36px;
    text-align: center;
}

#btn-register {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
}

.wrapper .login-link {
    text-align: center;
    font-size: 14.5px;
    margin-top: 20px;
}

.login-link p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}


.brand {
    background: #cbb09c !important;
}

.brand-text {
    color: #cbb09c !important;
}

.div-errors {
    margin-bottom: 5px;    
}
